
{% extends "layout.html" %}
{%block body%}
    <div class="my-skills">

        <div class="container">
            <div class="skills fl-left">
                <h2>Projecty</h2>
                <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei </p>


                <a href="/login"><button class="my-button">I'm a Sponsor</button></a>
                <a href="/login"><button class="my-button"> I have an idea</button></a>

            </div>
        </div>
    </div>
    <!-- Start section Our Team -->
   <div class="team">
        <div class="container">
            <h2> Meet our awsome team</h2>
            <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placeratLorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placeratLorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placeratLorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat</p>
            <div class="our-work ">
                <div> <img src="../static/images/i.jpg" alt=""></div>
                <div> <img src="../static/images/02.jpg" /350 alt=""></div>
                <div> <img src="../static/images/i.jpg" /350 alt=""></div>

    </div>
    </div>
    </div>
    <!-- End section Our Team -->


{% endblock %}
