{% extends "layout.html" %}



{%block body%}
    <div class="my-skills">

        <div class="container">
            <div class="skills fl-left">
                <p>Start now,It's never too late! </p>


                <a href="/login"><button class="my-button">I'm a Sponsor</button></a>
                <a href="/login"><button class="my-button"> I have an idea</button></a>

            </div>
        </div>
    </div>
    <!-- Start section Our Team -->
   <div class="team">
        <div class="container">
        <div class="color">
            <h2> Meet our team</h2>
        </div>
            <div class="our-work ">
                <div> <img src="../static/images/moh.jpg" alt="">roaawadi</div>
                
                <div> <img src="../static/images/odai.jpg" /350 alt="">roaawadi</div>
                
                <div> <img src="../static/images/moh.jpg" /350 alt="">roaawadi</div>
           
    </div>
    </div>
    </div>
    <!-- End section Our Team -->
{% endblock %}
