<!Doctype html>
<html>

<head>


	{% block head %} {% endblock %}

    <link rel="stylesheet" type="text/css" href="../static/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../static/stylesheets/normalize.css">
    <link rel="stylesheet" href="../static/stylesheets/style.css">    
</head>



<body>
    <div class="header">
        <div class="navbar">
            <div class="container">
                <img src="../static/images/logo2.png" width="150px" height="150px">
                <!--
                <h2 class="fl-left">Projecty</h2>
                -->
                <ul>
                    {% if login == False %}
                        <li><a href="/login">Login</a></li>
                    {% endif %}
                    
                    {% if login == True %}
                        <li><a href="/logout">Logout</a></li>
                    {% endif %}
                </ul>

            </div>
        </div>          
    </div>
{% block body %} {% endblock %}
</body>



</html>
