<!Doctype html>
<html>

<head>


	{% block head %} {% endblock %}

    <link rel="stylesheet" type="text/css" href="../static/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../static/stylesheets/normalize.css">
    <link rel="stylesheet" href="../static/stylesheets/style.css">    
</head>



<body>
    <div class="header">
        <div class="navbar">
            <div class="container">
                <h2 class="fl-left">Projecty</h2>
                <ul>
                    <li><a href="/login">Login</a></li>
                </ul>

            </div>
        </div>          
    </div>
{% block body %} {% endblock %}
</body>



</html>
