{% extends "layout.html" %}



{%block body%}
<div class="back">
	<div class="odai">
		<div class="login">
		<h1>Freelancer</h1>
		<br>
		<hr>
		<a href="#">Log in with facebook</a>
		<hr>OR<hr>
<form >
		<br>
		<input type="email"  class="form-control" name="Email or Username" placeholder="Email or Username"><br>
		<br>
		<input type="password" class="form-control" name="Password" placeholder="Password"><br>
   <div class="col-auto">
      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" id="autoSizingCheck">
        <label class="form-check-label" for="autoSizingCheck">
          Remember me
        </label>
      </div>
<a href="/signup">Create a new account</a><br>
		<a href="/sponsor"><input type="submit" class="btn btn-primary" value="Log in" ><br></a>


</form>
		</div>
	</div>
</div>
{% endblock %}

</body>
</html>