<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="../static/stylesheets/normalize.css">
    <link rel="stylesheet" href="../static/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="../static/stylesheets/bootstrap.min.css">

</head>
<body>

{% extends "layout.html" %}
{%block body%}
<div class="back">
	<div class="odai">
		<div class="login">
		<h1>Name of project</h1>
		<br>

<form >
		<br>
		<input type="email"  class="form-control" name="Email or Username" placeholder="Email or Username"><br>
		<br>
		<input type="password" class="form-control" name="Password" placeholder="Password"><br>
   <div class="col-auto">

<a href="/signup">Create a new account</a><br>
		<a href="/sponsor"><input type="submit" class="btn btn-primary" value="Log in" ><br></a>


</form>
		</div>
	</div>
</div>
{% endblock %}

</body>
</html>