{% extends "layout.html" %}
{%block body%}
<body class="img">
<div class="container">
<h1> Welcome !</h1>
<form action="/view-projects-info" method="post">
	
  <div class="form-group">
    <label for="exampleInputEmail1">Name*</label>
    <input type="text"  name="name" class="form-control"  placeholder="Write your name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Name of idea*</label>
    <input type="text" name= "Nameofidea" class="form-control"  placeholder="Name of idea">
   
    Email*
    <input type="text" name="Email" class="form-control" placeholder="Email">
  </div>
  <div class="form-group custom-hop">
      <label for="exampleInputPassword1">Describtion*</label>
      <textarea name="Describtion" type="text" class="form-control" id="exampleInputPassword1" placeholder="type your Describtion"></textarea>
    </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Project photo*</label>
    <input type="text"  name="project-photo" class="form-control"  placeholder="upload your project picture">
  </div>
  <a href="#"><button type="submit" class="btn btn-primary">Add</button></a>


</form>
</div>
</body>
{% endblock %}