<!-- 
{% extends "layout.html" %}
{%block body%} -->
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="sylesheet" type="text/css" href="../static/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../static/stylesheets/normalize.css">
    <link rel="stylesheet" href="../static/stylesheets/style.css">
</head>
<body>


<!-- start projects -->
    <div class="header">
        <div class="navbar">
            <div class="container">
                <h2 class="fl-left">Odai.Inc</h2>
                    <ul>
                        <li class="active"><a href="#">Home </a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Skills</a></li>
                        <li><a href="#">Resume</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">protfolio</a></li>
                        <li><a href="#">Contact Me</a></li>
                    </ul>

            </div>
        </div>
        
         
    </div>
    <div class="portfolio">
        <div class="container">
            <h2> Projects</h2>
            <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placeratLorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placeratLorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placeratLorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat</p>
            <div class="our-work ">
                <div> <img src="../static/images/i.jpg" alt=""></div>
                <div> <img src="../static/images/02.jpg" /350 alt=""></div>
                <div> <img src="../static/images/i.jpg" /350 alt=""></div>
                <div> <img src="../static/images/i.jpg" /350 alt=""></div>
                <div> <img src="../static/images/i.jpg" /350 alt=""></div>
                <div> <img src="../static/images/i.jpg" /350 alt=""></div>
                <div> <img src="../static/images/i.jpg" /350 alt=""></div>
                <div> <img src="../static/images/i.jpg" /350 alt=""></div>
                <div> <img src="../static/images/i.jpg" /350 alt=""></div>

            </div>
        </div>

    </div>

    <!-- End projects-->

</body>
</html>
<!-- {% endblock %}